<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/app.css">
    </head>
    <body>

		<div class="container">

		 	<header class="masthead">
				<h1 class="logo"><a href = "/">Welcome to Meetup Land</a></h1>

				<h3><span class="line1">Which meetup are you</span><br/><span class="line2">checking on?</span></h3>
		 	</header>

			<main role="main">

				<nav class="types clearfix">
					<ul name = 'type'>
						<li><a href = '/ruby' value = 'ruby' type = 'ruby'>Ruby</a></li>
            <li><a href = '/db' value = 'ruby' type = 'ruby'>DataBase</a></li>
						<li><a href = '/php' value = 'php' type = 'php'>PHP</a></li>
						<li><a href = '/nodejs' value = 'nodejs' type = 'nodejs'>NodeJS</a></li>
						<li><a href = '/java' value = 'java' type = 'java'>Java</a></li>
						<li><a href = '/python' value = 'python' type = 'python'>Python</a></li>
						<li><a href = '/cloud' value = 'cloud' type = 'cloud'>Cloud</a></li>
						<li><a href = '/devops' value = 'devops' type = 'devops'>DevOps</a></li>
						<li><a href = '/startups' value = 'startups' type = 'startups'>Start Ups</a></li>
						<li><a href = '/security' value = 'security' type = 'security'>Security</a></li>
						<!-- <li><a href = '/magento' value = 'magento' type = 'magento'>Magento</a></li>
						<li class="last"><a href = '/CTO' value = 'CTO' type = 'cto'>CTO</a></li> -->
					</ul>
				</nav>

			</main>

			<footer>
				<!--a href = "#" title = "Engine Yard" class="button dark">Try Engine Yard</a-->
				<h2 class="ey"><a href = "https://devrelate.io" title = "Dev Relate I O"><img src = '/images/devrelate_transparent.png' alt="Dev relate I O" /></a></h2>
			</footer>

		</div>
    <small>Design by <a href = 'https://twitter.com/brendannh'>Brendan Hastings</a></small>
	</body>

</html>
