<p>There are <%= counter %> Meetup Groups according to Meetup.com</p>

<table border = '1'>
	<tr>
		<th>Name</th>
		<th>City</th>
		<th>Focus</th>
		<th>Members</th>
		<th>Contact Name</th>
		<th>Meetup Link</th>
	</tr>
		<%= result %>
</table>
